.card{
max-width: 250px;
border: 2px solid green;
min-height: 250px;
border-radius: 10px;
text-align: center;
min-width: 250px;
margin: 5px;
cursor: pointer;
}

.clear{
    float: right;
    margin: 10px;
    margin-top: 13px;
    margin-bottom: auto;
    margin-left: -36px;
    background: slategrey;
    color: white;
    cursor: pointer;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  h1, h2{
      color: white;
      margin: 0px;
  }


  .heading, .desc{
      color: black;
  }
