.makeStyles-root-1 {
    width: 100%;
    bottom: unset!important;
    margin-top: 91px!important;
   
}
.MuiBottomNavigationAction-root{
         max-width: unset!important;
         left: 0!important;
}
.MuiBottomNavigation-root{
    justify-content: unset!important;
}